

<!-- RETURN THE HTML GOOD STUFF TO DISPLAY THE CAST!-->
<div>
    {% if page.cast.size > 0 %}
    <h1> Cast </h1>
    <ul class="actors_list">
    {% for actor in page.cast%}
        {% assign noPage = "false" %}
        {% for person in site.categories.actor %}
            {% if actor.name == person.title%}
                <li>
                    <a href="{{ person.permalink }}">
                        <img src="{{person.thumbnail}}" alt="Cast Thumbnail" width="80px" height= "80px" class="circle_img">
                        <br>
                        <p>{{%actor.name %}}</p>
                    </a>
                </li>
                {% assign noPage = "true" %}
            {% endif%}
        {% endfor %}
        {% if noPage == "false" %}
            <li>
                <div>
                    <img src="/assets/images/cast_thumbnails/no_cast_image.png" alt="Cast Thumbnail" width="80px" height= "80px" class="circle_img">
                    <br>
                    <p>{{%actor.name %}}</p>
                </div>
            </li>
        {% endif %}

    {% endfor %}
    </ul>
    {% endif %}

</div>