{% assign sortedPosts = site.categories.movie | sort: 'title' %}

    {% if page.total_parts > 1 %}
        <h1> Parts </h1>
        {% assign sequel = null%}

        <!-- If current movie is base movie, load all sequels -->
        {% if page.base_movie == page.title%}
        <!-- <p> This is  the first movie</p> -->
            {% assign sequel = page.sequel%}
            <div class="movie_parts_list inner_shadow">
            {% for counter in (0..page.total_parts)%}
                {% for movie in sortedPosts %}

                    {% if movie.title == sequel%}
                    <a href="{{ movie.permalink | relative_url}}">
                            <div class="explore_movie_li" style="background-image: url('{{ movie.thumbnail | relative_url }}')"></div>
                            <div>{{ %movie.title% }}</div>
                    </a>
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
            </div>
        {% endif%}

        <!-- If current movie is NOT base movie, load from base and skip current movie -->

        {% if page.base_movie != page.title%}
            <!-- <p> This is not the first movie</p> -->
            <div class="movie_parts_list inner_shadow">
            {% for movie in sortedPosts %}
                {% if movie.title == page.base_movie%}
                    <a href="{{ movie.permalink | relative_url}}">
                            <div class="explore_movie_li" style="background-image: url('{{ movie.thumbnail | relative_url }}')"></div>
                            <div>{{ %movie.title% }}</div>
                    </a>
                    {% assign sequel = movie.sequel %}
                {% endif %}
            {% endfor%}

            {% for counter in (0..page.total_parts)%}
                {% for movie in site.categories.movie %}
                    {% if movie.title == sequel%}
                    {% if movie.title != page.title%}
                    <a href="{{ movie.permalink | relative_url}}">
                            <div class="explore_movie_li" style="background-image: url('{{ movie.thumbnail | relative_url }}')"></div>
                            <div>{{ %movie.title% }}</div>
                    </a>
                    {% endif %}
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
            </div>
        {% endif%}
    {% endif%}