    {% assign sortedPosts = site.categories.movie | sort: 'title' %}

<div class="cast_movies">
    {% for movie in sortedPosts %}
        {% for cast in movie.cast %}
            {% if cast.name == actor.title %}
                <a href="{{movie.permalink | relative_url}}" aria-label="Link to {{movie.title}} page">
                    <div>
                        <img class="explore_movie_li" src="{{ movie.thumbnail | relative_url }}" alt="{{ movie.title }} Thumbnail" loading="lazy" decoding="async" />
                        <p> {{movie.title}} </p>
                    </div>
                </a>
            {% endif%}
        {% endfor %}
    {% endfor %}

</div>