    <!-- GET THE ACTOR/ACTRESS AND STORE IT IN THE VARIABLE, film -->
    {% for person in site.categories.actor %}
        {% if person.title contains page.title%}
            {% assign actor = person%}
            {% endif%}
    {% endfor%}

<div class="cast_movies">
    {% for movie in site.categories.movie %}
        {% for cast in movie.cast %}
            {% if cast.name == actor.title %}
                <a href="{{movie.permalink}}">
                    <div>
                        <img src="{{movie.thumbnail}}" alt="{{movie.name}} Movie Poster" class="rounded_img" width="100%">
                        <p> {{movie.title}} </p>
                    </div>
                </a>
            {% endif%}
        {% endfor %}
    {% endfor %}

</div>