<!-- GET THE MOVIE AND STORE IT IN THE VARIABLE, film -->
{% for movie in site.data.movies %}
    {% if movie.name contains page.movie_title%}
        {% assign film = movie%}
        {% endif%}
{% endfor%}

    {% if film.total_parts > 1 %}
        {% assign sequel = null%}

        <!-- If current movie is base movie, load all sequels -->
        {% if film.basemovie == page.movie_title%}
        <p> This is  the first movie</p>
            {% assign sequel = film.sequel%}
            <div class="movie_parts_list">
            {% for counter in (0..film.total_parts)%}
                {% for movie in site.data.movies %}
                    {% if movie.name == sequel%}
                    <div class="movie_part_item">
                        <a href="{{movie.link}}"><img src="{{movie.thumbnail}}" alt="movie link" width="75px"></a>
                        <a href="{{movie.link}}">{{movie.name}}</a>
                    </div>
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
            </div>
        {% endif%}

        <!-- If current movie is NOT base movie, load from base and skip current movie -->

        {% if film.basemovie != page.movie_title%}
            <p> This is not the first movie</p>
            <div class="movie_parts_list">
            {% for movie in site.data.movies %}
                {% if movie.name == film.basemovie%}
                    <div class="movie_part_item">
                        <a href="{{movie.link}}"><img src="{{movie.thumbnail}}" alt="movie link" width="100%"></a>
                        <a href="{{movie.link}}">{{movie.name}}</a>
                    </div>
                    {% assign sequel = movie.sequel %}
                {% endif %}
            {% endfor%}

            {% for counter in (0..film.total_parts)%}
                {% for movie in site.data.movies %}
                    {% if movie.name == sequel%}
                    {% if movie.name != film.name%}
                    <div class="movie_part_item">
                        <a href="{{movie.link}}"><img src="{{movie.thumbnail}}" alt="movie link" width="100%"></a>
                        <a href="{{movie.link}}">{{movie.name}}</a>
                    </div>
                    {% endif %}
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
        </div>
        {% endif%}
        {% else %}
        <p> This movie does not have parts. </p>
    {% endif%}