

<!-- RETURN THE HTML GOOD STUFF TO DISPLAY THE CAST!-->
<div>
    {% for actor in page.cast%}
        {% for person in site.data.actors %}
            {% if actor.name == person.name%}
                <div class="actor_div">
                    <a href="{{ person.link }}" >
                        <img src="{{person.thumbnail}}" alt="Cast Thumbnail" width="80px" class="circle_img">
                        <br>
                        <a href="{{ person.link }}">{{%actor.name %}} </a>
                    </a>
                </div>
                {% endif%}
    {% endfor %}
{% endfor %}

</div>