
    {% if page.total_parts > 1 %}
        {% assign sequel = null%}

        <!-- If current movie is base movie, load all sequels -->
        {% if page.basemovie == page.movie_title%}
        <p> This is  the first movie</p>
            {% assign sequel = page.sequel%}
            <div class="movie_parts_list">
            {% for counter in (0..page.total_parts)%}
                {% for movie in site.posts %}

                    {% if movie.title == sequel%}
                    <div class="movie_part_item">
                        <a href="{{movie.permalink}}"><img src="{{movie.thumbnail}}" alt="movie link" width="75px"></a>
                        <a href="{{movie.permalink}}">{{movie.title}}</a>
                    </div>
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
            </div>
        {% endif%}

        <!-- If current movie is NOT base movie, load from base and skip current movie -->

        {% if page.basemovie != page.movie_title%}
            <p> This is not the first movie</p>
            <div class="movie_parts_list">
            {% for movie in site.posts %}
                {% if movie.title == page.basemovie%}
                    <div class="movie_part_item">
                        <a href="{{movie.permalink}}"><img src="{{movie.thumbnail}}" alt="movie link" width="100%"></a>
                        <a href="{{movie.permalink}}">{{movie.title}}</a>
                    </div>
                    {% assign sequel = movie.sequel %}
                {% endif %}
            {% endfor%}

            {% for counter in (0..page.total_parts)%}
                {% for movie in site.posts %}
                    {% if movie.title == sequel%}
                    {% if movie.title != page.title%}
                    <div class="movie_part_item">
                        <a href="{{movie.permalink}}"><img src="{{movie.thumbnail}}" alt="movie link" width="100%"></a>
                        <a href="{{movie.permalink}}">{{movie.title}}</a>
                    </div>
                    {% endif %}
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
        </div>
        {% endif%}
        {% else %}
        <p> This movie does not have parts. </p>
    {% endif%}