<!-- GET THE MOVIE AND STORE IT IN THE VARIABLE, film -->
{% for movie in site.data.movies %}
    {% if movie.name contains page.movie_title%}
        {% assign film = movie%}
        {% endif%}
{% endfor%}

<!-- RETURN THE HTML GOOD STUFF TO DISPLAY THE CAST!-->
<div class="scroll">
    {% for actor in film.cast%}
        {% for person in site.data.actors %}
            {% if actor.name == person.name%}
                <div class="actor_div">
                    <a href="{{ person.link }}" >
                        <img src="{{person.thumbnail}}" alt="Cast Thumbnail" width="80px">
                        <br>
                        <p>{{%actor.name %}}</p>
                    </a>
                </div> 
                {% endif%}
    {% endfor %}
{% endfor %}

</div>