
    {% if page.total_parts > 1 %}
        <h1> Parts </h1>
        {% assign sequel = null%}

        <!-- If current movie is base movie, load all sequels -->
        {% if page.base_movie == page.title%}
        <!-- <p> This is  the first movie</p> -->
            {% assign sequel = page.sequel%}
            <ul class="movie_parts_list inner_shadow">
            {% for counter in (0..page.total_parts)%}
                {% for movie in site.categories.movie %}

                    {% if movie.title == sequel%}
                    <li>
                        <a href="{{ movie.permalink }}">
                            <div class="movie_parts_img" style="background-image: url('{{%movie.thumbnail%}}')"></div>
                            <div>{{ %movie.title% }}</div>
                        </a>
                    </li>
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
                </ul>
        {% endif%}

        <!-- If current movie is NOT base movie, load from base and skip current movie -->

        {% if page.base_movie != page.title%}
            <!-- <p> This is not the first movie</p> -->
            <ul class="movie_parts_list inner_shadow">
            {% for movie in site.posts %}
                {% if movie.title == page.base_movie%}
                    <li>
                        <a href="{{ movie.permalink }}">
                            <div class="movie_parts_img" style="background-image: url('{{%movie.thumbnail%}}')"></div>
                            <div>{{ %movie.title% }}</div>
                        </a>
                    </li>
                    {% assign sequel = movie.sequel %}
                {% endif %}
            {% endfor%}

            {% for counter in (0..page.total_parts)%}
                {% for movie in site.categories.movie %}
                    {% if movie.title == sequel%}
                    {% if movie.title != page.title%}
                    <li>
                        <a href="{{ movie.permalink }}">
                            <div class="movie_parts_img" style="background-image: url('{{%movie.thumbnail%}}')"></div>
                            <div>{{ %movie.title% }}</div>
                        </a>
                    </li>
                    {% endif %}
                    {% assign sequel = movie.sequel %}
                    {% endif %}
                {% endfor%}
            {% endfor %}
            </ul>
        {% endif%}
        {% else %}
        <p> This movie does not have parts. </p>

    {% endif%}