<header class="site_header_nosearch">
    <a href="{{site.baseurl}}" class="home_button" aria-label="Link to home page">
        <img src="{{ '/assets/images/logos/Hmovie Logo Circle.png' | relative_url }}" alt="Hmovie" class="logo_img">
    </a>
    <a href="{{ '/about' | relative_url }}" class="nav_button" aria-label="Link to about page">ABOUT</a>
    <a href="{{ '/explore' | relative_url }}" class="nav_button" aria-label="Link to explore page">EXPLORE</a>
    <a href="{{ '/contribute' | relative_url }}" class="nav_button" aria-label="Link to contribute page">CONTRIBUTE</a>
</header>