<footer class="site_footer">
    <div>
        <h1>Hmovie</h1>
        <p>Hmovie was officially launched in 2025 via the Hmong Studies Fellowship hosted by the Ramsey County Historical Society and Center for Hmong Studies. </p>
        <p>This fellowship was made possible in part by the people of Minnesota through a grant funded by an appropriation to the Minnesota Historical Society from the Minnesota Arts and Cultural Heritage Fund.</p>
        <div class="sponsor_logos" >
            <a href="https://www.legacy.mn.gov/" target="_blank" >
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logos/MSAB.png" alt="Clean Water Land & Legacy Amendment Logo" class="sponsor_logos_small">
            </a>    
            <a href="https://rchs.com/" target="_blank">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logos/RCHS-removebg-preview.png" alt="Ramsey County Historical Society Logo" class="sponsor_logos_small">
            </a>
            <a href="https://www.csp.edu/center-for-hmong-studies/" target="_blank">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logos/CFHS.png" alt="Center for Hmong Studies Logo" class="sponsor_logos_small">
            </a>
        </div>
    </div>
    <div class="footer_stack_items">
        <h1 class="footer_sub_title">About</h1>
        <a href="{{ '/about' | relative_url }}">About Hmovie</a>
        <a href="{{ '/contribute' | relative_url }}">Contribute</a>
    </div>
    <div>
        <h1 class="footer_sub_title">Legal</h1>
        <a href="{{ '/terms_of_use' | relative_url }}">Terms of Use</a>
    </div>
    <div>
        <h1 class="footer_sub_title">Contact</h1>
        <a href="https://forms.gle/wXPr6YyNa5qmJC9u7" target="_blank">Contact Form</a>
    </div>
</footer>