<head>
    <!-- <link href="//fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet" type="text/css"> -->
</head>
<header class="site_header">
    <a href="/" class="home_button">Hmovie</a>
    <!-- <form action="{{site.baseurl}}/search/" method="get" id="header_searchbar">
        <input type="text" name="q" />
        <input type="submit" value="Search"/>
    </form> -->
    <form action="{{site.baseurl}}/search/" id="header_searchbar" method="get" >
        <span class="search_icon" style="background-image: url('{{ "/assets/images/search.jpeg" | relative_url }}')"></span>
        <input type="text" class="search_input" name="q" placeholder="search" required/>
    </form>
    <a href="{{ '/about' | relative_url }}" class="nav_button">ABOUT</a>
    <a href="{{ '/explore' | relative_url }}" class="nav_button">EXPLORE</a>
    <a href="{{ '/contribute' | relative_url }}" class="nav_button">CONTRIBUTE</a>
</header>

