h1 {
    color: green
}

button {
    cursor: pointer;
}

* {
    font-family: Arial;
}

.movie_mainview {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 2fr 1fr;
    width: auto;
}

.centercontent {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5rem;
    background-color: antiquewhite;
}

.movie_postercontainer {
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.2rem;
}

.movie_cast {
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.2rem;
    overflow-x: scroll;
    display: grid;
    white-space: nowrap;
    width: 50rem;
}

.movie_cast_scroll {
    // display: grid;
    // white-space: nowrap;
    // background-color: aqua;
}

.movie_cast_scroll hr {
    width: 100%;
}

.scroll {
   width: 100%; 
}

.actor_div {
    display: inline-block;
    width: auto;
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
}

.actor_div img{
    border-radius: 50px;

}

.section {
    width: 100%;
}


// Testing for video
.movie_videoview {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 0.8fr 2fr;
    width: auto;
}

.movie_videoview_title {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 5fr 1fr;
    width: auto;
}

.video_button {
    margin-top: 2rem;
    height: 50%;
}

#black_bg {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#movie_popup {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
}

#movie_popup iframe {
    width: 100%;
    height: 100%;
}

#close_popup_button {
    position: fixed;
    left: 89%;
    top: 9%;
    z-index: 5;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: large;
}

.site_header {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5rem;
    background-color: rgb(225, 178, 219);
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
}

.cast_movies {
    display: grid;
    padding: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 2rem;
    background-color: rgb(225, 178, 219);
    grid-template-columns: 2fr 2fr 2fr;

}