// 404 page
.error_img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5rem;
}

.error_text {
    text-align: center;
    font-style: bold;
    font-size: 1.5em;
    margin-bottom: 3rem;
}

.four-oh-four {
    text-align: center;
    font-size: 8em;
}
