@use 'variables' as *;

// EXPLORE page
#movies_list {
    list-style-type: none;
    display: grid;
    background-color: $color-bg-card;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 175px));
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 0;
    margin: 0;
    padding: 2%;
    border-radius: 1rem;
    justify-content: center;
}

#movies_list li a {
    margin-top: -1px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

#movies_list li:hover:not(.header) {
    background-color: $color-bg-hover;
    border-radius: 1rem;
}

.explore_movie_li {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    border-radius: 0.5rem;
}

.filter_list {
    list-style-type: none;
    width: 100%;
    text-indent: -10%;
}

.filter_list li input {
    width: 25px;
    height: 25px;
}

.filter_list li label {
    font-size: larger;
    vertical-align: 0.35rem;
}

.filter_title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.clear_filters_button {
    background-color: white;
    color: black;
    border-width: 0px;
    border-radius: 1rem;
    height: 2rem;
    margin-top: 1.5rem;
    font-size: 1vw;
}

#total_displayed {
    margin-top: 1.25rem;
}
