@use 'variables' as *;

.site_footer {
    display: grid;
    padding-left: $side-margin;
    padding-right: $side-margin;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    height: fit-content;
    background-color: $color-bg-nav;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 3rem;
    box-shadow: none 20px 10px 5px rgb(0, 0, 0);
}

.sponsor_logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    place-items: center;
    margin-top: 2rem;
}

.sponsor_logos_small {
    border-radius: 0.2rem;
    height: 100%;
    width: 100%;
    filter: brightness(80%);
}

.sponsor_logos_small:hover {
    filter: brightness(100%);
}

.sponsor_logos_big {
    border-radius: 0.2rem;
    height: 8vw;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(80%);
}

.sponsor_logos_big:hover {
    filter: brightness(100%);
}

.footer_sub_title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.site_footer * {
    text-decoration: none;
}

.footer_stack_items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
