@use 'variables' as *;

// Search page
#actors_list li {
    list-style-type: none;
    background-color: $color-bg-card;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

#actors_list li a {
    text-decoration: none;
    font-size: 18px;
}

#actors_list li:hover:not(.header) {
    background-color: $color-bg-hover;
    border-radius: 1rem;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.side_by_side p {
    padding-top: 1rem;
}

#movies_search_list {
    list-style-type: none;
    display: grid;
    background-color: $color-bg-card;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 175px));
    column-gap: 3rem;
    row-gap: 1rem;
    padding: 0;
    margin: 0;
    padding: 2%;
    border-radius: 1rem;
    margin-left: 4rem;
}

#movies_search_list li a {
    margin-top: -1px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

#movies_search_list li a:hover:not(.header) {
    background-color: $color-bg-hover;
    border-radius: 1rem;
}
