// Colors
$color-bg-dark: rgb(15, 20, 30);
$color-bg-nav: rgba(3, 28, 73, 255);
$color-bg-card: rgba(31, 44, 68, 255);
$color-bg-hover: rgb(53, 63, 83);
$color-bg-disabled: rgb(95, 108, 132);
$color-text-nav: rgb(204, 208, 214);

// Layout
$side-margin: 10%;

// Breakpoints
$breakpoint-mobile: 768px;
