<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{%page.title%}} </title>
        <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
        <link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/fav-icon.png">
    </head>

    <body class="bg_blue">
        <!-- Site Header-->
        {% include site_header.html %}
        <div class="center_content">
            <!-- <img src="/assets/images/extras/404.png" class="error_img"> -->
            <h1 class="four-oh-four">
                <span style="color:#73819d">4</span>
                <span style="color:#fff">{0H Y0!}</span>
                <span style="color:#73819d">4</span>
            </h1> 
            <p class="error_text">Koj tuaj lawm but this page doesn't exist.</p>
            <a href="{{site.baseurl}}" class="white_button center_button" aria-label="Home Button">RETURN HOME</a>
        
        </div>
    </body>
    {% include site_footer.html %}
</html>