<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ %page.title% }} </title>
        <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!-- Site Header-->
        {% include site_header.html %}
    
        <div class="centercontent">
            <h1>About Hmovie</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </body>
</html>