<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ %page.title% }} </title>
        <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
        <link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/fav-icon.png">
    </head>

    <!-- GET THE ACTOR/ACTRESS AND STORE IT IN THE VARIABLE, film -->
    {% for person in site.categories.actor %}
        {% if person.title contains page.title%}
            {% assign actor = person%}
            {% endif%}
    {% endfor%}

    <body class="bg_blue">
        <!-- Site Header-->
        {% include site_header.html %}
    
        <div class="center_content">
            <div class="movie_videoview margin_top2">
                <div>
                    <img src="{{ site.url }}{{ site.baseurl }}{{actor.thumbnail}}" alt="{{actor.title}}" class="rounded_img" width="100%">
                    {% include display_cast_information.html %}
                </div>

                <div>
                    <h1>{{actor.title}}</h1>

                    <h2> Featured Works</h2>
                    {% include display_cast_movies.html %}
                </div>
            </div>
        </div>
        {% include site_footer.html %}
    </body>
</html>