<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{%page.title%}} </title>
        <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body class="bg_blue">
        <!-- Site Header-->
        {% include site_header.html %}
        <div class="center_content">
            <h1>Contribute</h1>
            <div class="grid_text_img">
                <div>
                    <p>Hmovie is a community-managed site that relies on the expertise and contributions of individuals For that reason, Hmovie is always looking for contributors to ensure the site’s accuracy in information and experience in implementation. </p>
                    <p>See below for contribution options! </p>
                </div>
                <img src="../assets/images/screenshottest.png" width="100%"/>
            </div>
        </div>
    </body>
    {% include site_footer.html %}
</html>