<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{%page.title%}} </title>
        <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
        <link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/fav-icon.png">
    </head>

    <body class="bg_blue">
        <!-- Site Header-->
        {% include site_header.html %}
        <div class="center_content">
            <h1>Contribute</h1>
            <div class="grid_text_img">
                <div>
                    <p>Hmovie is a community-managed site that relies on the expertise and contributions of individuals. For that reason, Hmovie is always looking for contributors to ensure the site’s accuracy in information and experience in implementation. </p>
                    <p>See below for contribution options! </p>
                    <h2>Contribution Options</h2>
                    <div class="three_columns" >
                        <div>
                            <a href="https://forms.gle/tyC7acNTDTUhufvQA" target="_blank" class="clickable_link_block">
                                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/add.png" class="circle_img contribute_button">
                                <p>Add an actor or movie</p>
                            </a>
                        </div>
                        <div>
                            <a href="https://forms.gle/tNbZFYJhX5boqLct6" target="_blank" class="clickable_link_block">
                                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/edit.png" class="circle_img contribute_button">
                                <p>Edit an existing actor or movie</p>
                            </a>
                        </div>
                        <div>
                            <a href="https://forms.gle/yyncvdUPU81637j57" target="_blank" class="clickable_link_block">
                                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/code.png" class="circle_img contribute_button">
                                <p>Report a bug or Join the Code!</p>
                            </a>
                        </div>

                    </div>
                </div>
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/extras/contribute_1.png" class="rounded_img bottom_fade" width="100%"/>
            </div>
        </div>
    </body>
    {% include site_footer.html %}
</html>