<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>
</head>
<body>
    {% include site_header.html %}

    <div class="centercontent">
        <h2>Explore</h2>

        <div class="movie_mainview" >

            <div>

                <ul id="movies_list">
                    {% for movie in site.data.movies %}
                        <li>
                            <a href="{{movie.link}}">{{ %movie.name% }}</a>
                            <p> {{%movie.year%}} {{%movie.release-type%}}</p>
                        </li>
                    {% endfor%}
                </ul>
                    
            </div>

            <div>
                <ul id="filter_checkboxes">
                    <li> <input type="checkbox" onclick="filterMultiple()"/>
                         <label>VHS</label>
                    </li>
                    <li> <input type="checkbox" onclick="filterMultiple()"/>
                         <label>DVD</label>
                    </li>
                    <li> 
                        <input type="checkbox" onclick="filterMultiple()"/>
                        <label>2005</label>
                    </li>
                    <li> <input type="checkbox" onclick="filterMultiple()"/> 
                         <label>2009</label>
                    </li>
                </ul>
            </div>
        </div>

    </div>


<script>
function filterInput(input) {
    var ul, li;
    var ul = document.getElementById("filters");
    var li = document.createElement("li");
    li.appendChild(document.createTextNode(input));
    ul.appendChild(li);
    filterItems();
}
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("movies_list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        console.log(li[i].getElementsByTagName("a")[0]);
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
        console.log("loop itr done");
    }
}

function filterItems() {
    var input, filters, ul, li, a, i, txtValue;
    filters = document.getElementById("filters");
    var size = filters.childElementCount

    ul = document.getElementById("movies_list");
    li = ul.getElementsByTagName("li");
    for (s = 0; s < li.length; s++) {
                li[s].style.display = "none";
        }
    for (let j = 0; j < size; j++) {
        input= filters.childNodes[j].innerHTML.toUpperCase();
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            console.log(li[i].getElementsByTagName("a")[0]);
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(input) > -1) {
                li[i].style.display = "";
            } 
            else {
            li[i].style.display = "none";
        }
        console.log("loop itr done");
        }

    }
}

function filterByYear(input) {
    var movie_ul, movie_li, ul, li, input;
    var movie_ul = document.getElementById("filters");
    var movie_li = document.createElement("li");
    movie_li.appendChild(document.createTextNode(input));
    movie_ul.appendChild(movie_li);

    filters = document.getElementById("filters");
    var size = filters.childElementCount
    ul = document.getElementById("movies_list");
    li = ul.getElementsByTagName("li");
    
    for (s = 0; s < li.length; s++) {
                li[s].style.display = "none";
        }
    for (let j = 0; j < size; j++) {
        input= filters.childNodes[j].innerHTML.toUpperCase();
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("p")[0];
            console.log(li[i].getElementsByTagName("p")[0]);
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(input) > -1) {
                li[i].style.display = "";
            } 
            else {
            li[i].style.display = "none";
        }
        }
    }

}

function resetListItemsVisibility(numOfFilters) {
    var movie_list, movie_items;
    var movie_list = document.getElementById("movies_list");
    var movie_items = movie_list.getElementsByTagName("li");

    if (numOfFilters < 1 ) {
        console.log("Resetting fields to visible!");
        for (let movie_index = 0; movie_index < movie_items.length; movie_index++) {
                movie_items[movie_index].style.display = "block";
        }
    }
}

function reportCheckedFields() {
    var checkboxes = document.getElementById("filter_checkboxes");
    console.log("reporting!");
    for (let i = 0; i < checkboxes.childElementCount ; i ++ ) {
        // console.log(checkboxes.getElementsByTagName("input")[i]);
        if (checkboxes.getElementsByTagName("input")[i].checked == true) {
            // console.log(checkboxes.childNodes[i] + " is checked!");
        }
    }
}
function filterMultiple() {
    var movie_list, movie_block, movie_p,filter_list, filter_input, current_movie;

    var movie_list = document.getElementById("movies_list");
    var movie_blocks = movie_list.getElementsByTagName("li");
    var movie_p = movie_list.getElementsByTagName("p");

    var filter_list = document.getElementById("filter_checkboxes");
    reportCheckedFields();
    // if filters list is empty, then reveal all items again
    resetListItemsVisibility(filter_list.childElementCount);

    // now actually do that filtering login - subtractive 
    for (let movie_index = 0; movie_index < movie_blocks.length; movie_index ++) {
        current_movie = movie_blocks[movie_index];

        for (let filter_index = 0; filter_index < filter_list.childElementCount; filter_index ++) {
            filter_input = filter_list.getElementsByTagName("li")[filter_index].innerText.toUpperCase();
            filter_checked = filter_list.getElementsByTagName("li")[filter_index].getElementsByTagName("input")[0].checked;

            if (filter_index == 0 ) {
                resetListItemsVisibility(filter_list.childElementCount);
            }

            // if (current_movie.style.display != "none") {
            if (filter_checked == true) {
                p = current_movie.getElementsByTagName("p")[0];
                txtValue = p.textContent || p.innerText;
                // if (txtValue.toUpperCase().indexOf(filter_input) > -1) {
                // console.log("txtValue of " + current_movie + " is " + txtValue);
                if (txtValue.toUpperCase().includes(filter_input)) {
                    // console.log("Making movie " + current_movie.innerHTML + " visible");
                    movie_blocks[movie_index].style.display = "";
                } 
                else {
                    movie_blocks[movie_index].style.display = "none";
                }
            // }
            }
        }
    }

    }
</script>

</body>
</html>
