<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{%page.title%}} </title>
        <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
        <style>
            * {
                color:white
            }
        </style>
    </head>

    <body class="bg_blue">
        <!-- Site Header-->
        {% include header_nosearch.html %}
        <div class="center_content">
                <!-- Overlay -->
                <div class="landing_div"></div>
                <div class="text_over_image">
                    <h1 class="hmovie_title black_shadow">Hmovie</h1>
                    <p class="sub_title black_shadow">The Largest Digital Hmong Movie Database</p>
                    <p class="black_shadow">SEARCH FOR A MOVIE</p> 
                    <form action="{{site.baseurl}}/search/" id="home_searchbar" class="black_div_shadow" method="get" >
                        <span class="search_icon"></span>
                        <input type="text" class="search_input" name="q" placeholder="search"/>
                    </form>

                </div>
    

                <p class="center_text">EXPLORE THE CURRENT COLLECTION</p>
                <ul class="home_featured_movies">
                {% for movie in site.categories.movie %}
                        <li data-filter-data="{{%movie.year%}} {{%movie.release-type%}} {{movie.genre}}">
                            <a href="{{movie.permalink}}">
                                <!-- <a href="{{ movie.link }}" data-type="{% for person in movie.cast %}{{ person }}{% if forloop.last == false %}, {% endif %}{% endfor %}"> -->
                                    <a href="{{ movie.permalink }}" data-type="{% for person in movie.cast %}{{ person.name }}{% if forloop.last == false %}, {% endif %}{% endfor %}">
                                    <img src="{{movie.thumbnail}}" alt="movie thumbnail" width="100%">
            
                                <div>{{ %movie.title% }}</div>
                            </a>
                        </li>
                {% endfor%}
            </ul>

            <a href="/explore" class="white_button">SEE MORE MOVIES</a>
        </div>
    </body>
</html>