<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{page.title}} </title>
        <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
    </head>

    <body class="bg_blue">
        <!-- Site Header-->
        {% include header_nosearch.html %}
        <div class="center_content">
                <!-- Overlay -->
                <div class="landing_div" style="background-image: url('{{ "/assets/images/home_image.jpeg" | relative_url }}')"></div>
                <div class="text_over_image">
                    <h1 class="hmovie_title black_shadow">Hmovie</h1>
                    <p class="sub_title black_shadow">The Largest Digital Hmong Movie Database</p>
                    <p class="black_shadow">SEARCH FOR A MOVIE</p> 
                    <form action="{{site.baseurl}}/search/" id="home_searchbar" class="black_div_shadow" method="get" >
                        <span class="search_home_icon" style="background-image: url('{{ "/assets/images/search.jpeg" | relative_url }}')"></span>
                        <input type="text" class="search_home_input" name="q" placeholder="search" required/>
                    </form>

                </div>
    

                <p class="center_text">EXPLORE THE CURRENT COLLECTION</p>
                <ul class="home_featured_movies">
                {% for movie in site.categories.front %}
                        <li data-filter-data="{{%movie.year%}} {{%movie.release-type%}} {{movie.genre}}">
                            <a href="{{ movie.permalink | relative_url }}">
                                 <div class="home_movie_li" style="background-image: url('{{ movie.thumbnail | relative_url }}')"></div>
                                <div>{{ %movie.title% }}</div>
                            </a>
                        </li>
                {% endfor %}
            </ul>

            <a href="{{ '/explore' | relative_url }}" class="white_button center_button">SEE MORE MOVIES</a>
        </div>
    </body>
    {% include site_footer.html %}
</html>