<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{%page.title%}} </title>
        <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
        <link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/fav-icon.png">
    </head>

    <body class="bg_blue">
        <!-- Site Header-->
        {% include site_header.html %}
        <div class="center_content">
            <p>{{ page.content }}</p>
        </div>
    </body>
    {% include site_footer.html %}
</html>