
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ %page.title% }} </title>
        <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body class="bg_blue">
    <!-- Site Header-->
    {% include site_header.html %}

    <!-- Movie Video PopUp -->
    <div id="black_bg" onclick="closePopUp()">
        <!-- <button id="close_popup_button">x</button> -->
        <a href="{{%page.video_link%}}" target="_blank"> Link </a>
        <div id="movie_popup"></div>
    </div>

    <!-- PUT ALL PAGE CONTENT IN A DIV WITH MARGIN SO ALL THE CONTENT DOESN'T BLOW OUT-->
    <div class="center_content"> 
        <!-- Put title and button beside one another-->
        <div class="movie_videoview_title">
            <h1 alt="Movie Title"> {{ %page.title% }} </h1>
            {% include display_play_movie_button.html %}
            <!-- <button type="button" class="clear_filters_button" onclick="triggerPopUp()"> Watch Movie </button> -->
        </div>

        <br>
        <!-- Under the title, create two columns -->
        <div class="movie_videoview">
            <!-- Column 1: Holds Movie Meta Data -->
            <div>
                <img src="{{page.thumbnail}}" alt="{{page.title}} Movie Poster" width="100%" class="rounded_img">
                <div class="movie_metadata inner_shadow margin_top">
                    <p class="meta_data_type">Production Year:</p>
                    <p>{{%page.year%}}</p>
                    <p class="meta_data_type">Producer(s):</p>
                    <p>{{%page.producer%}}</p>
                    <p class="meta_data_type">Writer(s):</p>
                    <p>{{%page.writer%}}</p>
                    <p class="meta_data_type">Publisher:</p>
                    <p>{{%page.publishing_company}}</p>
                    <p class="meta_data_type"> Release Type:</p>
                    <p>{{%page.release_type%}}</p>
                    <!-- <p class="meta_data_type"> Storage Location:</p>
                    <p>{{%page.storage%}}</p> -->
                </div>
            </div>  

            <!-- Column 2: Holds Movie Details -->
            {% if page.synopsis == "" and page.cast == null and page.total_parts == 0%}
            <div class="gray_box inner_shadow">
                <p>Additional Information for this movie is not available at this time.</p>
            </div>
            {% else %}
            <div>
                <p> {{ %page.synopsis%}} </p>
                
                {% include display_page_cast.html %}
                
                {% include display_page_movie_parts.html %}

            </div>
            {%endif%}
        </div>


</div>
{% include site_footer.html %}
</body>


</html>