<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
<style>

</style>
</head>
<body class="bg_blue">
    {% include site_header.html %}

    <div class="center_content">
        <p id="search"></p>
        <!-- <input type="text" id="myInput" onkeyup="newFilter()" placeholder="Search for names.." title="Type in a name"> -->
        <h1>Actors</h1>
        <ul id="actors_list">
            {% for actor in site.categories.actor %}
                <li data-movie-title="{{actor.title}}" class="inner_shadow">
                    <a href="{{actor.permalink}}">
                        <div class="side_by_side">
                            <img src="{{actor.thumbnail}}" class="circle_img" alt="actor link" height="80px">
                            <p>{{ %actor.title% }}</p>
                        </div>
                    </a>
                </li>
            {% endfor%}
        </ul>

        <h1>Movies</h1>
        <ul id="movies_search_list" class="inner_shadow">
            {% for movie in site.categories.movie %}
                <li data-year="{{movie.year}}" data-movie-title="{{movie.title}}" data-movie-cast="{% for person in movie.cast %}{{ person.name }}{% if forloop.last == false %}, {% endif %}{% endfor %}">
                    <a href="{{movie.permalink}}">
                        <img src="{{movie.thumbnail}}" alt="movie link" class="rounded_img" width="100%">
                        <div>{{ %movie.title% }}</div>
                    </a>
                </li>
            {% endfor%}
        </ul>
    </div>


<script>

function filterActors(query) {
    var input, filter, ul, li, a, i, txtValue;
    input = query;
    filter = query.toUpperCase();
    ul = document.getElementById("actors_list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getAttribute("data-movie-title");
        console.log("A is: " + a);
        if (a.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function filterMovies(query) {
    var input, filter, ul, li, a, i, txtValue;
    input = query;
    filter = query.toUpperCase();
    ul = document.getElementById("movies_search_list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getAttribute("data-movie-title");
        console.log("A is: " + a);
        if (a.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }

    for (i = 0; i < li.length; i++) {
        a = li[i].getAttribute("data-movie-cast");
        console.log("A is: " + a);
        if (a.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } 
    }
}

function getQueryVariable(variable) {
        var query = window.location.search.substring(1),
            vars = query.split("&");

        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");

            if (pair[0] === variable) {
                return decodeURIComponent(pair[1].replace(/\+/g, '%20')).trim();
            }
        }
    }

    var query = decodeURIComponent((getQueryVariable("q") || "").replace(/\+/g, "%20"));
    console.log(query);
    filterActors(query);
    filterMovies(query);
    
</script>

</body>
</html>
